@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@font-face {
    font-family: PressStart ;
    /* src: url(./font/press-start-2p-v9-latin-regular.ttf); */
    src: url(../font/press-start-2p-v9-latin-regular.ttf);
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
    background-color: #3771a3;
    font-family: 'PressStart';
}
.root-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.root-container h1{
    font-size: 48px;
    letter-spacing: 5px;
    margin: 70px 0px;
    color: white;
    text-align: center;
}
.img-wrapper{
    height: 400px;
    width: 400px;
    background: url(../img/1.gif) no-repeat center center / cover;
    border: 5px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.button{
    text-align: center;
}
.button button{
    border: 0;
    outline: 0;
    padding: 14px 16px;
    margin: 50px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    background-color: rgba(46, 80, 192, 0.933);
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);;
}
.button button:hover{
    background-color: rgba(28, 71, 211, 0.933);
}
.faqs {
    width: 850px;
    border: 5px solid white;
    padding: 50px 50px 50px 50px;
    color: white;
    margin-bottom: 50px;
}
.toadmap{
    height: auto;
    width: 850px;
    border: 5px solid white;
    padding: 50px 50px 50px 50px;
    color: white;
    margin-bottom: 50px;
}
.whatis{
    width: 850px;
    border: 5px solid white;
    padding: 50px 50px 50px 50px;
    color: white;
    margin-bottom: 50px;
}
.whatis p{
    line-height: 1.2;
}
.faqs h2, .toadmap h2{
    font-size: 40px;
    letter-spacing: 2px;
}
.faqs p{
    font-size: 24px;
    line-height: 20px;
    font-family: 'VT323', monospace;
    letter-spacing: 3px;
    line-height: 1.2;
}
.faqs span{
    font-size: 14px;
    line-height: 1.2;
}
.faq-img{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}
.faq-img img{
    width: 150px;
    height: 110px;
    margin: 0 auto;
}
.bank-img{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}
.bank-img img{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.game-img{
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
}
.game-img img{
    width: 140px;
    height: 140px;
    margin: 0 auto;
    padding-left: 5px;
}
.air-img{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}
.air-img img{
    width: auto;
    height: auto;
    margin: 0 auto;
}
.vote-img{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}
.vote-img img{
    width: 25%;
    height: 25%;
    margin: 0 auto;
}
.present-img{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}
.present-img img{
    width: 25%;
    height: 25%;
    margin: 0 auto;
}
.in-progress-list{
    padding-left: 12px;
}
.in-progress-list li{
    padding: 5px 0px;
    font-size: 21px;
    font-family: 'VT323', monospace;
}
.joining{
    padding: 20px 0px 50px 0px;
    text-align: center;
    color: #fff;
}
.joining h2{
    font-size: 20px;
    color: white;
    letter-spacing: 3px;
}
.joining h3{
    color: white;
    font-size: 18px;
}
.joining a{
    margin-left: 10px;
}
.joining img{
    width: 50px;
}
.social-icons{
    padding: 50px 0px;
}
a:link {
  color: white;
}
.swampboat img{
    width: 100%;
    height: auto;
}
.swampboat{
    text-align: center;
}
.team-main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
}
.content-container {
  width: 80%;
  margin-bottom: 6rem;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-bottom: 2rem;
}
.card-header {
  color: #ed3823;
  font-size: 3rem;
  margin: 2rem;
  line-height: normal;
  display: block;
}

.card-header > a {
  display: inline-block;
}

.card-desc {
  font-size: 2rem;
  width: 70%;
  line-height: normal;
}

.sociallogo {
  width: 3.5rem;
  padding-left: 1rem;
  display: block;
}
/* visited link */
a:visited {
  color: pink;
}
@media (max-width:500px){
    .img-wrapper, .faqs, .toadmap, .whatis{
        width: 100%;
    }
    .faqs, .toadmap, .whatis{
        padding: 25px 20px 25px 20px;
    }
    .wrapper{
        padding: 20px 20px 20px 20px;
    }
    .root-container h1{
        font-size: 30px;
    }
    .root-container h2{
        font-size: 25px;
    }
}
@media (max-width:320px){
    .faqs, .toadmap, .whatis, .cards{
        padding: 10px 0px 10px 0px;
    }
    .root-container h1{
        font-size: 20px;
    }
    .root-container h2{
        font-size: 20px;
    }
}
@media only screen and (max-width: 1200px) {
  .team-main {
    background-image: none;
  }
}

@media only screen and (max-width: 900px) {
  .team-main {
    height: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .cards {
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: center;
    align-items: center;
  }

  .card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    color: white;
  }

  .card-header {
    color: #f15a24;
    font-size: 3rem;
    margin: 0;
    line-height: normal;
    display: flex;
    flex-direction: row;
  }

  .card-header > a {
    display: inline-block;
  }

  .card-whole {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .team-card-img {
    width: 30%;
  }
  .team-photo {
    width: 100%;
  }

  .card-desc {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    line-height: normal;
    width: 60%;
  }

  .sociallogo {
    width: 3.5rem;
    padding-left: 1rem;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .team-main {
    height: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .cards {
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: flex-start;
  }

  .card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
  }

  .card-header {
    color: #f15a24;
    font-size: 1.8rem;
    margin: 2rem;
    line-height: normal;
    display: flex;
    flex-direction: row;
  }

  .card-header > a {
    display: inline-block;
  }

  .card-whole {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
    width: 80%;
  }

  .team-card-img {
    width: 40%;
  }
  .team-photo {
    width: 100%;
  }

  .card-desc {
    font-size: 1.2rem;
    line-height: normal;
  }

  .sociallogo {
    width: 3.5rem;
    padding-left: 1rem;
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .team-main {
    height: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .cards {
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: flex-start;
    width: 100%;
  }

  .card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    color: white;
  }

  .card-header {
    color: #f15a24;
    font-size: 1.5rem;
    margin: 0;
    line-height: normal;
    display: flex;
    flex-direction: row;
  }

  .card-header > a {
    display: inline-block;
  }

  .card-whole {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .team-card-img {
    width: 40%;
  }
  .team-photo {
    width: 100%;
  }

  .card-desc {
    font-size: 1.2rem;
    line-height: normal;
  }

  .sociallogo {
    width: 3.5rem;
    padding-left: 1rem;
    display: block;
  }    
}
